<router-outlet></router-outlet>


<!-- <div style="display: grid; place-items: center; padding-top: 2.5rem; padding-bottom: 2.5rem;">

    <div>
        <img style="height: 1200px;" src="https://firebasestorage.googleapis.com/v0/b/hellomx-f7302.appspot.com/o/STD.jpg?alt=media&amp;token=92b79600-7185-47c7-a262-cc96e0e13f30&amp;_gl=1*11n912l*_ga*MTk5MTI4Njk1Mi4xNjg5Mjc1MjY2*_ga_CW55HF8NVT*MTY5NTg1NjAzMi43LjEuMTY5NTg1NjIzMy4yNS4wLjA." alt="invitacion BBVA">

        <div style="padding: 10px;width: 675px; background-color: rgb(0, 11, 24);">

            <div style="margin-left: 4rem;">
                <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Invitaci%C3%B3n%20BBVA%20Banca%20Automotriz&dates=20231106T220000Z/20231106T270000Z&details=Cita%20BBVA%20un%20carro">
                    <div style="display: flex; gap: 2rem; place-items: center;">
                        <p style="color: rgb(255 255 255); font-size: 1.5rem; line-height: 2rem; margin-top: 1rem;"> Agregar a mi Google calendar </p>
                        <img style="width: 50px; height: 50px" src="https://firebasestorage.googleapis.com/v0/b/hellomx-f7302.appspot.com/o/calendar.png?alt=media&token=4d1fec49-f93e-4bf0-8cb1-73faa9cc5331&_gl=1*1quund6*_ga*MTk5MTI4Njk1Mi4xNjg5Mjc1MjY2*_ga_CW55HF8NVT*MTY5NTg1NjAzMi43LjEuMTY5NTg1OTQwMC41NS4wLjA." alt="google calendar">
                    </div>
                </a>
            </div>

            <div style="margin-left: 4rem; margin-top: 1.5rem;">
                <a href="https://firebasestorage.googleapis.com/v0/b/hellomx-f7302.appspot.com/o/Prueba_BBVA.ics?alt=media">
                    <div style="display: flex; gap: 2rem; place-items: center;">
                        <p style="color: rgb(255 255 255); font-size: 1.5rem; line-height: 2rem;"> Guardarlo el evento desde mi teléfono o Pc </p>
                        <img style="width: 50px; height: 50px;" src="https://firebasestorage.googleapis.com/v0/b/hellomx-f7302.appspot.com/o/PCsmartphone.png?alt=media&token=7de575a9-3b73-4a03-9779-135b1519da6f&_gl=1*2pl226*_ga*MTk5MTI4Njk1Mi4xNjg5Mjc1MjY2*_ga_CW55HF8NVT*MTY5NTg1NjAzMi43LjEuMTY5NTg1OTQzMS4yNC4wLjA." alt="google calendar">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> -->