<mat-toolbar color="primary">

    <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon> person </mat-icon>
    </button>

    <mat-menu #menu="matMenu">

      <button mat-menu-item>
        <mat-icon> person </mat-icon>
        <span> {{userEmailLogged}} </span>
      </button>

      <button mat-menu-item (click)="closeSession()">
        <mat-icon> logout </mat-icon>
        <span> Cerrar sesión </span>
      </button>
    </mat-menu>

    <span class="example-spacer"></span>

    <div class="flex gap-x-10">
      <a mat-button [routerLink]="['/home/pokemons']"> Pokemons </a>
      <a mat-button [routerLink]="['/home/numbers']"> Números </a>
    </div>

</mat-toolbar>


<router-outlet></router-outlet>
